$darker: #13005A;
$main: #2d2d2d;
$light: #1C82AD;
$color: #ff56e8;
.bg-dark{
    background-color: $darker;
}
.bg-main{
    background-color: $main;
}
.bg-light{
    background-color: $light;
}
.bg-color{
    background-color: $color;
}
.white-text{
    color: #fff;
}
.d-flex{
    display: flex;
}
.w-50{
    width: 50%;
}

.h-divider{
    width: 80%;
    margin: 30px auto;
    height: 1px;
    background-color: $color;
}
.color-line{
    margin: 5px 0 10px 0;
    height: 1px;
    background-color: $color;
}
.btn{
    border: none;
    padding: 15px 40px;
    font-size:20px;
    font-weight: bold;
    border-radius: 12px;
}
.m-0{
    margin: 0;
}